$font-family: 'Poppins',
sans-serif;
$font-weight: ( "Regular": 400, "Medium": 400, "Semibold": 600);
$size:( "40": 2.5rem, "36": 2.25rem, "32": 2rem, "28": 1.75rem, "24": 1.5rem, "20": 1.25rem, "16": 1rem, "14": 0.875rem);
$pr-Lavender:#7456FF;
$sr-Lavender:#8368FF;
$tr-Lavender:#A693FF;
$qt-Lavender:#C5B9FF;
$qn-Lavender:#E0DAFF;
$ln-Lavender:linear-gradient(103.38deg, #7456FF 8.68%, #8368FF 100%);
$as-Lavender:#F5F2FF;
$white:#FFF;
$pr-Black:#0C0C0C;
$sr-Black:#0F0F0F;
$tr-Black:#131313;
$pr-Grey:#707070;
$sr-Grey:#999999;
$linear-Black:linear-gradient(100.67deg, #0F0F0F 7.93%, #060021 100%);
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Frequently Used Styles */

body {
    font-family: $font-family;
    background-color: $sr-Black;
    color: $white;
}

.container {
    padding-inline: map-get($map: $size, $key: "16");
}

li {
    list-style: none;
}

.d-none {
    display: none;
}

.heading-1 {
    font-weight: map-get($map: $font-weight, $key: "Semibold");
    font-size: map-get($map: $size, $key: "40");
}

.heading-2 {
    font-weight: map-get($map: $font-weight, $key: "Semibold");
    font-size: map-get($map: $size, $key: "36");
}

.heading-3 {
    font-weight: map-get($map: $font-weight, $key: "Semibold");
    font-size: map-get($map: $size, $key: "32");
}

.heading-4 {
    font-weight: map-get($map: $font-weight, $key: "Semibold");
    font-size: map-get($map: $size, $key: "28");
}

.heading-5 {
    font-weight: map-get($map: $font-weight, $key: "Semibold");
    font-size: map-get($map: $size, $key: "24");
}

.heading-6 {
    font-weight: map-get($map: $font-weight, $key: "Semibold");
    font-size: map-get($map: $size, $key: "20");
}

.subheading-1 {
    font-weight: map-get($map: $font-weight, $key: "Medium");
    font-size: map-get($map: $size, $key: "40");
}

.subheading-2 {
    font-weight: map-get($map: $font-weight, $key: "Medium");
    font-size: map-get($map: $size, $key: "36");
}

.subheading-3 {
    font-weight: map-get($map: $font-weight, $key: "Medium");
    font-size: map-get($map: $size, $key: "32");
}

.subheading-4 {
    font-weight: map-get($map: $font-weight, $key: "Medium");
    font-size: map-get($map: $size, $key: "28");
}

.subheading-5 {
    font-weight: map-get($map: $font-weight, $key: "Medium");
    font-size: map-get($map: $size, $key: "24");
}

.subheading-6 {
    font-weight: map-get($map: $font-weight, $key: "Medium");
    font-size: map-get($map: $size, $key: "20");
}

.p-1 {
    font-weight: map-get($map: $font-weight, $key: "Regular");
    font-size: map-get($map: $size, $key: "36");
}

.p-2 {
    font-weight: map-get($map: $font-weight, $key: "Regular");
    font-size: map-get($map: $size, $key: "32");
}

.p-3 {
    font-weight: map-get($map: $font-weight, $key: "Regular");
    font-size: map-get($map: $size, $key: "28");
}

.p-4 {
    font-weight: map-get($map: $font-weight, $key: "Regular");
    font-size: map-get($map: $size, $key: "24");
}

.p-5 {
    font-weight: map-get($map: $font-weight, $key: "Regular");
    font-size: map-get($map: $size, $key: "20");
}

.p-6 {
    font-weight: map-get($map: $font-weight, $key: "Regular");
    font-size: map-get($map: $size, $key: "16");
}

.p-7 {
    font-weight: map-get($map: $font-weight, $key: "Regular");
    font-size: map-get($map: $size, $key: "14");
}