.navbar {
    left: 0;
    padding-block: map-get($map: $size, $key: "16");
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbrand {
            text-transform: capitalize;
            span {
                color: $pr-Lavender;
                text-transform: capitalize;
            }
        }
        .nav-items {
            display: none;
        }
        .nav-toggler {
            background: transparent;
            border: none;
            color: $white;
            font-size: map-get($map: $size, $key: "32");
            &.active .btn-default,
            .btn-toggled {
                display: none;
            }
            &.active .btn-default,
            .btn-toggled {
                display: none;
            }
        }
    }
}