@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
$font-family: 'Poppins',
sans-serif;
$font-weight: ( "Regular": 400,
"Medium": 400,
"Semibold": 600);
$font-size:( "40px": 2.5rem,
"36px": 2.25rem,
"32px": 2rem,
"28px": 1.75rem,
"24px": 1.5rem,
"20px": 1.25rem,
"16px": 1rem,
"14px": 0.875rem);
$Pr-Lavender:#7456FF;
$Sr-Lavender:#8368FF;
$Tr-Lavender:#A693FF;
$Qt-Lavender:#C5B9FF;
$Qn-Lavender:#E0DAFF;
$Ln-Lavender:linear-gradient(103.38deg,
#7456FF 8.68%,
#8368FF 100%);
$As-Lavender:#F5F2FF;
$White:#FFF;
$Pr-Lavender:#080809;
$Pr-Black:#0C0C0C;
$Sr-Black:#0F0F0F;
$Tr-Black:#131313;
$Pr-Grey:#707070;
$Sr-Grey:#999999;
$Linear-Black:linear-gradient(100.67deg,
#0F0F0F 7.93%,
#060021 100%);